<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />

	<style>
		.popover-content{ background: #ffff99; }
	</style>
</head>

<body>
	<section layout:fragment="corpo">
		<div class="container">
			<form id="partidas-add" action="#">
				<div id="alert"></div> 
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								<b>Processamento de partidas</b>
							</div>
							<div class="card-body" style="font-size: 13px;">
								<div class="form-group">
									<label for="campeonato"><font color="red">*</font>&nbsp;&nbsp;Campeonato:</label>
									<select class="form-control" id="campeonato" name="campeonato">
										<option value=""></option>
	                            		<option th:each="c : ${campeonatos}" th:text="${c.nome}" th:value="${c.id}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="rodada"><font color="red">*</font>&nbsp;&nbsp;Rodada: </label>
									<select class="form-control" id="rodada" name="rodada">
										<option value="0"></option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
				<hr />
				<div class="alert alert-danger" id="divAlertRodadaEncerrada" style="display: none"></div>
				<div class="row principal" style="display: none;">
					<div class="col-md-12 text-center">
						<h3>Partidas Encerradas</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-9 text-center">
						<table id="tblPartidasEncerradas" class="table table-sm table-striped"></table>
					</div>
					<div class="col-md-2">
						<button class="btn btn-lg btn-primary mt-5 ld-ext-right" id="btnProcess" style="display: none;">
  							Processar Palpites
  							<div class="ld ld-spinner ld-spin"></div>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div id="overlay" onclick="off()" style="text-align: center">
			<div class="loader"></div>
		</div>
	</section>
	<script	th:src="@{/js/processamento/rodada.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
		/*<![CDATA[*/
		
		/*]]>*/
	</script>
</body>
</html>