<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />

</head>
<body>
	<section layout:fragment="corpo">
		<div class="container">
			<form th:action="${partida.id == null} ? @{/partidas/salvar} : @{/partidas/editar}" method="POST" th:object="${partida}">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<b>Cadastro de partidas do Campeonato</b>
						</div>
						<div class="card-body" style="font-size: 13px;">
							
							<div th:replace="fragments/validacao :: validacao"></div>
						
							<div class="form-group">
								<label for="campeonato"><font color="red">*</font>&nbsp;&nbsp;Campeonato:</label>
								<select class="form-control" id="campeonato" name="campeonato" th:field="*{campeonato}">
									<option value=""></option>
                            		<option th:each="c : ${campeonatos}" th:text="${c.nome}" th:value="${c.id}"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="rodada"><font color="red">*</font>&nbsp;&nbsp;Rodada: </label>
								<input type="number" class="form-control" id="rodada" name="rodada" th:field="*{rodada}" min="1" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="card">
						<div class="card-header">
							<div class="step-wizard">
    							<div class="progress">
      								<div class="progressbar empty"></div>
      								<div id="progresso" class="progressbar"></div>
								    <ul class="ul-wizard">
								      <li class="li-wizard active">
								        <a href="#" id="partida1">
								          <span class="step">1</span>
								        </a>
								      </li>
								    </ul>
  								</div>
							</div>
						</div>
						<div class="card-body" style="font-size: 13px;">
							
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
			</form>
		</div>
	</section>
	<script	th:src="@{/js/campeonatos/partidas.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
		/*<![CDATA[*/
		$(document).ready(function () {
		
			var sucesso = /*[[${sucesso}]]*/ null;
		
			if (sucesso === 'ok') {
				toastr.success('Sucesso', 'Campeonato Cadastrado OK')
			}
		});
		/*]]>*/
	</script>
</body>
</html>