<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />

	<style>
		.popover-content{ background: #ffff99; }
	</style>
</head>

<body>
	<section layout:fragment="corpo">
		<div class="container">
			<form id="partidas-add" action="#">
				<div id="alert"></div> 
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								<b>Cadastro de partidas do Campeonato</b>
							</div>
							<div class="card-body" style="font-size: 13px;">
								<div class="form-group">
									<label for="campeonato"><font color="red">*</font>&nbsp;&nbsp;Campeonato:</label>
									<select class="form-control" id="campeonato" name="campeonato">
										<option value=""></option>
	                            		<option th:each="c : ${campeonatos}" th:text="${c.nome}" th:value="${c.id}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="rodada"><font color="red">*</font>&nbsp;&nbsp;Rodada: </label>
									<select class="form-control" id="rodada" name="rodada">
										<option value="0"></option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
				<hr />
				<div class="card principal" style="display: none;">
					<div class="card-header">
						<div class="row">
    					<div class="col-md-3 text-center">Times</div>
    					<div class="col-md-6 text-center" id="colRodada"></div>
    					<div class="col-md-3 text-center">Locais dos Jogos</div>
    					</div>
  					</div>
  					<div class="card-body">
	  					<div class="row">
	  						<div class="col-md-3">
	  							<div class="card" id="cardTimes"></div>
	  						</div>
	    					<div class="col-md-6 text-center" id="divJogosRodada">
   								<div class="card jogos">
   									<div class="card-header">
   										Mandante x Visitante
   									</div>
   									<div class="card-body">
   										<div class="row">
   											<div class="col-md-5 casa" id="card-mandante" data-mandante="" data-toggle="popover" data-placement="top" data-content=""><small>Arraste e solte o time da casa aqui</small></div>
   											<div class="col-md-2 pt-1">X</div>
   											<div class="col-md-5 fora" id="card-visitante" data-visitante="" data-toggle="popover" data-placement="top" data-content=""><small>Arraste e solte o time visitante aqui</small></div>
   										</div>
   										<div class="row">
   											<div class="col-md-12 mt-1 localPartida" data-toggle="popover" data-content=""><small>Arraste e solte o local da partida aqui</small></div>
   										</div>
   										<div class="row">
   											<div class="col-md-12 mt-1">
   												Dia e Horário: <input type="datetime-local" name="data" data-toggle="popover" data-content="">
   											</div>
   										</div>
   										<div class="row">
   											<div id="error-data" class="col-md-12 mt-1">
   											</div>
   										</div>
   									</div>
   									<div class="card-footer">
   										<div class="btn-group">
  											<button type="button" id="btnCleanCard" class="btn btn-sm btn-danger"><i class="fas fa-eraser"></i></button>
  											<button id="btnSave" type="submit" class="btn btn-sm btn-success"><i class="fas fa-plus-circle"></i></button>
										</div>	
   									</div>
   								</div>
   								<br />
   								<table id="tblPartidasCadastradas" style="display:none;" class="table table-sm table-striped table-bordered">
   								</table>
	    					</div>
	    					<div class="col-md-3 text-center">
	    						<div class="card" id="cardLocais"></div>
	    					</div>
	  					</div>
	  				</div>
				</div>
			</form>
		</div>
		<div class="modal fade" id="dialog-resultado" tabindex="-1" role="dialog" aria-labelledby="titleModal" aria-hidden="true">
  			<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h5 class="modal-title" id="titleModal">Gols da Partida</h5>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          					<span aria-hidden="true">&times;</span>
        				</button>
      				</div>
      				<div class="modal-body">
        				<div class="row">
        					<div class="col-md-3 align-self-center text-right escudoM">
        					</div>
        					<div class="col-md-6">
        						<div class="row">
        							<div class="col-md-12 text-center pb-1">
        								Gols do 1° Tempo
        							</div>
        						</div>
        						<div class="row form-group">
        							<div class="col-md-3 offset-md-2 align-self-center">
        								<input type="number" min="0" name="golsHTMandante" class="form-control" onchange="golsDaPartida()" oninput="validity.valid||(value='');" />
        							</div>
        							<div class="col-md-1 align-self-center">
        								X
        							</div>
        							<div class="col-md-3">
        								<input type="number" min="0" name="golsHTVisitante" class="form-control" onchange="golsDaPartida()" oninput="validity.valid||(value='');" />
        							</div>
        						</div>
        						<div class="row">
        							<div class="col-md-12 align-self-center text-center">
        								Gols do 2° Tempo
        							</div>
        						</div>
        						<div class="row form-group">
        							<div class="col-md-3 offset-md-2">
        								<input type="number" min="0" name="golsFTMandante" class="form-control" onchange="golsDaPartida()" oninput="validity.valid||(value='');" />
        							</div>
        							<div class="col-md-1 align-self-center">
        								X
        							</div>
        							<div class="col-md-3">
        								<input type="number" min="0" name="golsFTVisitante" class="form-control" onchange="golsDaPartida()" oninput="validity.valid||(value='');" />
        							</div>
        						</div>
        					</div>
        					<div class="col-md-3 align-self-center text-left escudoV">
        					</div>
        				</div>
        				<div class="row">
        					<div class="col-md-3 offset-md-3" id="placarFinal"></div>
        				</div>	
						<input type="hidden" id="idPartida" name="idPartida" />
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
        				<button type="button" class="btn btn-primary" id="btnSaveResult">Salvar</button>
      				</div>
    			</div>
  			</div>
		</div>
	</section>
	<script	th:src="@{/js/partidas/partidas.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
		/*<![CDATA[*/
		
		/*]]>*/
	</script>
</body>
</html>