<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{bolao/home}">
<head>
<meta charset="UTF-8" />

</head>
<body>
	<section layout:fragment="opcao">
		<div class="container" id="divClassificacao">
			<br />
			<form th:action="@{/classificacao/tipo}" method="POST" th:object="${rodadaClassificacao}">
				<div class="form-group col-md-4">
					<label for="rodada" class="form-group">Classificação</label>
					<select class="form-control" th:field="*{rodada}" id="rodada" onchange="this.form.submit()">
						<option value="0">Geral</option>
						<option th:each="r : ${rodadas}" th:text="'Rodada   ' + ${r}" th:value="${r}"></option>
					</select>
				</div>
			</form>
			<br />
			<table class="table table-striped table-bordered">
				<thead>
					<tr align="center">
						<th>Colocação</th>
						<th>Participante</th>
						<th>Total</th>
						<th title="Acertos por Cravada">PC</th>
						<th title="Acertos de Gols do Vencedor">PG</th>
						<th title="Acertos de Saldo do Vencedor">PS</th>
						<th title="Acertos do Resultado">PR</th>
						<th title="Empates Garantido">EG</th>
					</tr>
				</thead>
				<tbody id="tblClassif">
					<tr th:each="cg, status : ${classificacaoGeral}" align="center" th:class="${cg.currentUser} ? 'table-success'">
    					<td th:text="${status.count}" />
    					<td align="left"><img width="32" height="32" th:src="@{'data:image/png;base64,'+ ${cg.avatar}}" />&nbsp;&nbsp;<span th:text="${cg.nomeParticipante}"></span></td>
    					<td th:text="${cg.pontos}" />
    					<td th:text="${cg.pontuacaoPorCravadas}" />
    					<td th:text="${cg.pontuacaoPorPlacarDoVencedor}" />
    					<td th:text="${cg.pontuacaoPorAcertoDeSaldo}" />
    					<td th:text="${cg.pontuacaoPorAcertoDeResultado}" />
    					<td th:text="${cg.pontuacaoPorEmpateGarantido}" />
					</tr>
				</tbody>
			</table>
			<canvas id="linhaDeEvolucao"></canvas>	
		</div>
		<script th:src="@{/js/bolao/classificacao.js}" th:fragment="jsOpcoesBolao"></script>
		<script th:inline="javascript" th:fragment="inlinescript">
			$(document).ready(function () {
				var rodadas = [[${rodadas}]];
				var historico = [[${historico}]];
				console.log(rodadas.sort());
				console.log(historico);
				var ctx = $('#linhaDeEvolucao');
				
				var labels = rodadas.sort();
				var dataset = [];
				
				historico.forEach(function( participante, index ) {
					var historicoColocacoes = {
						fill: false,
						lineTension: 0.1,
						label: participante.nome,
						borderColor: getRandomRgb(),
						data: participante.historicoClassificacoes	
					}
					dataset.push(historicoColocacoes);
				});
				
				var classificacaoPorRodadas = new Chart(ctx, {
				    type: 'line',
				    data: {
				    	labels: labels, //passar aqui um array com as rodadas,
				    	datasets: dataset,
				    },
				    options: {
				    	legend: {
				    		display: true,
				    		position: 'right'
				    	},
				    	title: {
				    		display: true,
				    		fontSize: 20,
				    		text: "HISTÓRICO DAS CLASSIFICAÇÕES POR RODADA"
				    	},
				    	scales: {
				            yAxes: [{
				                ticks: {
				                	reverse: true,
				                	maxTicksLimit: dataset.length
				                },
				                scaleLabel: {
				                    display: true,
				                    labelString: 'colocação'
				                }
				            }]
				        }
				    }
				});
			}); 
		</script>
	</section>
</body>
</html>