<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />

</head>
<body>
	<section layout:fragment="corpo">
		<div class="container">
			DashBoard
		</div>
	</section>
	<script	th:src="@{/js/bolao/dashboard.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
		/*<![CDATA[*/
		$(document).ready(function () {
		
			
		});
		/*]]>*/
	</script>
</body>
</html>